{
  "data_base": {
    "locales": ["en", "es", "ru", "pt", "ch"],
    "collection": "translations"
  },

  "servers": {
    "git_notifications": null,
    "tms_notifications": null
  },
  "repository": null,
  "repo_user": "",
  "repo_name": "",
  "repo_branch": "origin master"
  "commit_message": "Automerging translations",
  "namespaces": {

  }
}
